# dockerイメージに含まないディレクトリ名及びファイル名
.git
.gitignore
.vscode
venv
**/__pycache__
learned_model/large-v2.pt
learned_model/medium.pt
shell_scripts/*
**/*.mp3
**/*.m4a
**/*.aac
**/*.wav
**/*.webm
**/*.ogg
**/*.mp4
**/*.csv